/* body { */
/*    padding-top: 60px; *//* 60px to make the container go all the way to the bottom of the topbar */
/*    padding-bottom: 40px;*/
/*     background-color: #f5f5f5; */
/*}*/

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.sidebar-nav {
    margin: 0px 5px 15px 5px;
    padding: 9px 15px 2px 15px;
}

.jumbotron {
	margin-left: 5px; 
	margin-right: 5px; 
	margin-bottom: 15px;
	padding: 28px 50px 28px 50px;
}

/* --- ecomme --- */
body {
	padding-top: 60px; /*100px*/
}
html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -40px;
padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
footer {
height: 40px;
background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

footer p{
	text-align: center;
	margin-top: 8px;
}

/* --- .form-signin and .carousel omitted --- */

body.modal-open {
    margin-right: 0;
}

.products-table tbody>tr>td{
    vertical-align: middle;
}
/* --- end ecomme --- */

/*media screen*/
.label {
    font-size: 85%;
}

#minutesToPrepare {
	min-width: 60px;
}
