<!DOCTYPE html> <!-- SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd" -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<!-- <html lang="en"> -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/core.css}" />
<!--     <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script>
        /* Fill in modal with content loaded with Ajax */
        $(document).ready(function () {
            $('#myModal').on('show.bs.modal', function (e) {
                $("#myModalBody").text("");
                $.ajax({
                    url: "/addMenuItem",  
                    cache: false
                })
                        .done(function (html) {
                            $("#myModalBody").append(html);
                        });
            })
        });
    </script>
    <title>Yummy Noodle Bar</title>
    <!-- <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Menu Item</h4>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- {!begin layout} -->
<div th:include="layout :: head"></div>
<!-- {!end layout} -->
<div class="container-fluid">
    <div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left"> <!--  hero-unit span9-->
        <h3>Yummy</h3>
        <p><small>Welcome to the home of all things Noodle</small></p>
        <p>
			<a class="btn btn-info btn-large" href="http://spring.io/">Learn more about Spring</a>  
			<a class="btn btn-primary btn-large" th:href="@{orders}">Look at customers' orders</a>       
            <!-- <a th:if="${basket.size &gt; 0}"
               class="btn btn-primary btn-large"
               th:href="@{/showBasket}">Look in your basket</a> -->
        </p>
    </div>

    <div class="navbar-left">
<!--         <div class="span9"> -->
         
            <!-- <div th:if="${message}"
                 th:text="${message}"
                 id="message" class="alert alert-info">
            </div> -->
    		<th:block th:if="${message != null}">
        		<div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    		</th:block>
            
           		<table class="table table-striped">
					<thead>
						<tr>
							<th width="135px" class="text-center">ID</th>
							<th width="145px" class="text-center">Name</th>
							<th width="115px" class="text-center">Cost</th>
							<th width="50px" class="text-center">Minutes to prepare</th>
							<th width="40px" class="text-center small">Update item on MongoDB</th>
							<th width="40px" class="text-center small">Remove from MongoDB</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item,status : ${menuItems}">
							<td colspan="5">
								<form action="#" th:action="@{/updateMenuItem}" method="post">
									<table>
										<tr>
											<td class="col-lg-2"><input size="10" id="id" name="id" th:value="${item.id}" contenteditable="false" /></td>
											<td class="col-lg-3"><input size="17" id="name" name="name" th:value="${item.name}" /></td>
											<td class="col-lg-3"><input size="10" id="cost" name="cost" th:value="${item.cost}" /></td>
											<td class="col-lg-3"><input size="10" id="minutesToPrepare" name="minutesToPrepare" th:value="${item.minutesToPrepare}" /></td>
<!-- 											<td><input type="submit" value="Update item on MongoDB" /></td> -->
											<td class="col-lg-3"><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Update</button></td>
										</tr>
									</table>
								</form>
							</td>
							<td>
								<form action="#" th:action="@{/deleteMenuItem}" method="post">
									<table>
										<tr>
											<td><input id="id" name="id" type="hidden" th:value="${item.id}" /></td>
											<td class="col-lg-2"><button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
										</tr>
									</table>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				
				<a href="#"  class="btn btn-large btn-success" data-toggle="modal" data-target="#myModal">Add Menu Item</a><br /><br /> <!-- href="./admin/menu_item-add.html" th:href="@{/addMenuItem}" -->
				            
<!--         </div> --><!-- /.span9 -->
    </div>
</div>
<div th:include="layout :: foot"></div>
</body>
</html>
