<!DOCTYPE html> <!-- SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd" -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- vyskusaj <html lang="en"> -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script>
        /* Fill in modal with content loaded with Ajax */
        $(document).ready(function () {
            $('#myModal').on('show.bs.modal', function (e) {
                $("#myModalBody").text("");
                $.ajax({
                    url: "/signup",  
                    cache: false
                })
                        .done(function (html) {
                            $("#myModalBody").append(html);
                        });
            })
        });
    </script>
    <title>Yummy Noodle Bar</title>
    <!-- <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Signup</h4>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- {!begin layout} -->
<div th:include="layout :: head"></div>
<!-- {!end layout} -->
<div class="container-fluid">
    <div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left"> <!--  hero-unit span9-->
        <h3>Yummy</h3>
        <p><small>Welcome to the home of all things Noodle</small></p>
        <p>
<!--             <a class="btn btn-primary btn-large" href="http://spring.io/">Learn more about Spring</a> -->
            <a href="./signup/signup.html" class="btn btn-large btn-success" data-toggle="modal" data-target="#myModal">Sign up</a>
            <a th:if="${basket.size &gt; 0}"
               class="btn btn-primary btn-large"
               th:href="@{/showBasket}">Look in your basket</a>
        </p>
    </div>

    <div class="row-fluid navbar-left">
        <div class="span9">

            <div id="message" class="alert alert-info">
                Select from the menu. Currently your basket contains <em th:text="${basket.size}">SOME</em> truly
                scrumptious item(s).
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Mins to prepare</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item,status : ${menuItems}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.cost}"></td>
                    <td th:text="${item.minutesToPrepare}"></td>
                    <td>
                        <form action="/addToBasket" method="POST">
                            <input id="id" name="id" type="hidden" th:value="${item.id}"/>
                            <input id="name" name="name" type="hidden" th:value="${item.name}"/>
                            <input id="cost" name="cost" type="hidden" th:value="${item.cost}"/>
                            <input id="minutesToPrepare" name="minutesToPrepare" type="hidden"
                                   th:value="${item.minutesToPrepare}"/>
                            <input type="submit" value="Add to basket"/>
                        </form>
                    </td>
                </tr>
                
                <!-- This example data will be removed by thymeleaf during processing and replaced with the rows generated above -->
                <tr th:remove="all">
                    <td>Yummy1</td>
                    <td>Noodles, with Cheese</td>
                    <td>$13.99</td>
                    <td>15</td>
                </tr>
                </tbody>
            </table>
         
<!--             table for admin -->
            <div th:if="${message}"
                 th:text="${message}"
                 id="message" class="alert alert-info">
            </div>
            
<!--          if user role == admin -->
              <table class="table table-striped">
                <!-- <thead >
                  <tr >
                    <th>ID</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Mins to prepare</th>
                    <th>Action</th>
                  </tr>
                </thead> -->
<!--                 <tbody>    -->
                    <tr th:each="item,status : ${menuItems}">
                         <td>
                         <!-- id="${itemFormId}" -->
                            <form action="/updateMenuItem" method="POST">   
                              <input id="id" name="id" th:value="${item.id}" contenteditable="false"/>
                              <input id="name" name="name" th:value="${item.name}"/>
                              <input id="cost" name="cost" th:value="${item.cost}"/>
                              <input id="minutesToPrepare" name="minutesToPrepare"
                                     th:value="${item.minutesToPrepare}"/> <p>&nbsp;</p>
                              <input type="submit" value="Update item on MongoDB"/>
                            </form>
                            <form th:action="@{/deleteMenuItem}" method="POST">
 						      <input id="id" name="id" type="hidden" th:value="${item.id}" />
						      <input type="submit" value="Remove from MongoDB"/>
						    </form>	
                         </td>
					</tr>
<!-- 					row for menuItemAdd -->
<!--                 </tbody>     -->
              </table> 
            
            <form id="formAdd" method="POST" th:object="${menuItemAdd}">
                <table>
                    <tr>
                        <td>ID:</td>
                        <td><input type="text" th:field="*{id}"/></td>
                        <td th:if="${#fields.hasErrors('id')}"><p th:errors="*{id}">Incorrect ID</p></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" th:field="*{name}" /></td>
                        <td th:if="${#fields.hasErrors('name')}"><p th:errors="*{name}">Incorrect Name</p></td>
                    </tr>
                    <tr>
                        <td>Cost:</td>
                        <td><input type="text" th:field="*{cost}" /></td>
                        <td th:if="${#fields.hasErrors('cost')}"><p th:errors="*{cost}">Incorrect Cost</p></td>
                    </tr>
                    <tr>
                        <td>Minutes to prepare:</td>
                        <td><input type="text" th:field="*{minutesToPrepare}" /></td>
                        <td th:if="${#fields.hasErrors('minutesToPrepare')}"><p th:errors="*{minutesToPrepare}">Incorrect Minutes to prepare</p></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="submit" value="Add menu item to MongoDB" />
                        </td>
                    </tr>
            	</table>
            </form>
            
            <div th:include="layout :: foot"></div>

        </div>
    </div>
</div>
</body>
</html>
