<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Yummy Noodle Bar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/core.css}" />
<!--     <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<form class="form-narrow form-horizontal" method="post" th:object="${addMenuItemForm}" th:action="@{/addMenuItem}" th:fragment="addMenuItemForm">
		<th:block th:if="${#fields.hasErrors('${addMenuItemForm.*}')}">
        	<div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    	</th:block>
    	<fieldset>
        <legend>Add Menu Item</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('id')}? 'has-error'">
            <label for="id" class="col-lg-2 control-label">ID</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="id" placeholder="YM10" th:field="*{id}"/>
                <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Incorrect ID</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Cheesecake" th:field="*{name}"/>
                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('cost')}? 'has-error'">
            <label for="cost" class="col-lg-2 control-label">Cost</label>
            <div class="col-lg-10 input-group">
            	<span class="input-group-addon">&dollar;</span>
                <input type="text" class="form-control" id="cost" placeholder="7.99" th:field="*{cost}"/>
                <span class="help-block" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Incorrect Cost</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('minutesToPrepare')}? 'has-error'">
            <label for="minutesToPrepare" class="col-lg-2 control-label">Minutes to prepare</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="minutesToPrepare" placeholder="2" th:field="*{minutesToPrepare}"/>
                <span class="help-block" th:if="${#fields.hasErrors('minutesToPrepare')}" th:errors="*{minutesToPrepare}">Incorrect Minutes to prepare</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Add menu item to MongoDB</button>
            </div>
        </div>
        </fieldset>
	</form>
</body>
</html>