<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/core.css}" />
<!--     <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script>
        /* Fill in modal with content loaded with Ajax */
        $(document).ready(function () {
            $('#myModal').on('show.bs.modal', function (e) {
                $("#myModalBody").text("");
                $.ajax({
//                     url: "editOrder",
//                     method: "post",
                    cache: false
                })
                        .done(function (html) {
                            $("#myModalBody").append(html);
                        });
            })
        });
    </script>
    <title>Yummy Noodle Bar</title>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Update Order</h4>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="wrap">
<div th:include="layout :: head"></div>

<div id="main">
<div class="container-fluid"><!-- container-fluid -->
	<div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left">
        <h3>Orders</h3>
        <p><small>View and update yummy orders</small></p>
        <p>
			<a class="btn btn-info btn-large" href="http://spring.io/">Learn more about Spring</a>
			<a class="btn btn-primary btn-large" th:href="@{/admin}">Look at menu items</a>          
        </p>
    </div>
    
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>
    
<div class=""> <!-- col-md-12 -->
    <table class="table table-hover products-table">
		<thead>
			<tr>
          		<th>ID</th>
          		<th>Date</th>
         		<th>Products</th>
          		<th>Status</th>
          		<th>Name</th>
          		<th>Address</th>
				<th>Cost</th> <!-- colspan="2" -->
				<th>Edit order</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order,stat : ${orders}">
				<td th:text="${order.id}">ef53dd58-8806-47c5-816e-237d6e8f2ad4</td> <!--  name="id" th:value="${order.id}" -->
				<td th:text="${#dates.format(order.dateTimeOfSubmission)}">2014-05-01 21:13:20.165</td> <!-- Wed May 07 13:16:45 CEST 2014 -->
				<td th:text="${#strings.listJoin(order.menuItemsNames,'; ')}">[Hamburger, Yummy Noodles]</td> <!-- Map orderItems - {YM3=1} -->  <!-- name="menuItemsNames" th:value="${order.menuItemsNames}" -->
				<td th:text="${order.status}">Order Received</td> <!-- name="status" th:value="${order.status}" -->
				<td th:text="${order.name}">Valter Longo</td>  <!-- name="name" th:value="${order.name}" -->
				<td th:text="${order.address1}+', '+${order.postcode}">Greenwitch St. 402/C, London, 4802 35</td> <!-- name="address1" th:value="${order.address1}" -->
				<td class="text-center" th:text="${order.cost}+' &euro;'">19.79 &euro;</td>
				<!-- <td type="hidden" name="postcode" th:value="${order.postcode}"></td> -->
				<td><a th:href="@{|/orders/${order.id}/edit|}" href="./updateOrder" class="btn btn-large btn-primary"><i class="glyphicon glyphicon-pencil"></i></a></td>
				<!-- <td><a href="#"  class="btn btn-large btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil"></i></a></td> -->
			</tr>
		</tbody>
    </table>
    
<!-- 	if orders == null - <div class="alert alert-warning"><strong>Oh no!</strong> Didn't find any orders, please add some.</div> -->
</div> <!-- /.col-md-12 -->
</div> <!-- /.container -->
</div> <!-- /.main -->
</div> <!-- /.wrap -->

<div th:include="layout :: foot"></div>
</body>
</html>