<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Yummy Noodle Bar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/resources/css/core.css}" />
<!--     <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<form class="form-narrow form-horizontal" method="post" th:object="${updateOrderForm}" th:action="@{|/orders/${updateOrderForm.id}/update|}" th:fragment="updateOrderForm">
<!-- 	OR th:action="@{update}" -->
		<th:block th:if="${#fields.hasErrors('${updateOrderForm.*}')}">
        	<div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    	</th:block>
		<fieldset>
		<legend>Update Order</legend>
		<div class="form-group">
			<label for="id" class="col-lg-2 control-label">ID</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="id" name="id" th:value="${updateOrderForm.id}" disabled="disabled" />
				<input type="hidden" th:field="*{id}"/>
			</div>
		</div>
		
        <div class="form-group">  <!-- th:classappend="${#fields.hasErrors('menuAndOrderItems')}? 'has-error'" -->
        	<label for="orderItems" class="col-lg-2 control-label">Order Items</label>
        	<div class="col-lg-10">
        		<!-- <ul>
        			<li th:each="item, stat : *{menuAndOrderItems}">
        				<input type="checkbox" th:field="*{menuAndOrderItems[__${stat.index}__].id}" th:value="${item.id}" />
        				<label th:for="${#ids.prev('menuAndOrderItems')}" th:text="${item.name}">Cheesecake</label>
        			</li>
        		</ul> -->
        		
        		<table id="orderItems" class="table table-hover products-table" style="margin-bottom: 0px">
        			<thead>
        				<tr>
        					<th>ID</th>
        					<th>Name</th>
        					<th>Cost</th>
        					<th>Minutes</th>
        					<th>Quantity</th>
        					<th></th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr th:each="item, stat : *{menuAndOrderItems}"> <!-- ${updateOrderForm.menuAndOrderItems} -->
        					<td th:text="${item.id}">YM10</td>
        					<td th:text="${item.name}">Cheesecake</td>
        					<td th:text="${item.cost}+' &euro;'">19.79 &euro;</td>
        					<td th:text="${item.minutesToPrepare}">7</td>
        					<td class="text-center" th:text="${item.quantity}">2</td>
        					<td><input type="checkbox" th:field="*{menuAndOrderItems[__${stat.index}__].chosen}" th:checked="${item.chosen}" /></td>
        					
        					<td style="padding: 0px"><input type="hidden" th:field="*{menuAndOrderItems[__${stat.index}__].id}" /></td>
        					<td style="padding: 0px"><input type="hidden" th:field="*{menuAndOrderItems[__${stat.index}__].name}" /></td>
        					<td style="padding: 0px"><input type="hidden" th:field="*{menuAndOrderItems[__${stat.index}__].cost}" /></td>
        					<td style="padding: 0px"><input type="hidden" th:field="*{menuAndOrderItems[__${stat.index}__].minutesToPrepare}" /></td>
        					<td style="padding: 0px"><input type="hidden" th:field="*{menuAndOrderItems[__${stat.index}__].quantity}" /></td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>
        
        <div class="form-group">
            <label for="status" class="col-lg-2 control-label">Status</label>
            <div class="col-lg-10">
                <select class="form-control" th:field="*{status}">
                	<option th:each="status : ${updateOrderForm.orderStatuses}" th:value="${status.status}" th:text="${status.status}" th:selected="${status.selected}">Order Received</option>
                </select>
                <!-- <input type="hidden" th:field="*{orderStatuses}" /> -->
                <div th:each="status, stat : *{orderStatuses}">
                	<input type="hidden" th:field="*{orderStatuses[__${stat.index}__].status}" />
                	<input type="hidden" th:field="*{orderStatuses[__${stat.index}__].selected}" />
                </div>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="name" class="col-lg-2 control-label">Customer Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Valter Longo" th:field="*{name}"/>
                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('address1')}? 'has-error'">
            <label for="address" class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="address" placeholder="Greenwitch St. 402/C, London" th:field="*{address1}"/>
                <span class="help-block" th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">Incorrect Address</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('postcode')}? 'has-error'">
            <label for="postcode" class="col-lg-2 control-label">Postcode</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="postcode" placeholder="4802 35" th:field="*{postcode}"/>
                <span class="help-block" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">Incorrect Postcode</span>
            </div>
        </div>
		<div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Update Order</button>
                <a class="btn btn-default" th:href="@{/orders}">Cancel</a>
            </div>
        </div>
		</fieldset>
	</form>
</body>
</html>